{
  "ConnectionStrings": {
    // Sqlite
    "Default": "Data Source=db.sqlite"
    // SqlServer
    //"Default": "Data Source=localhost;Initial Catalog=Platformus;MultipleActiveResultSets=True;Persist Security Info=True;User ID=platformus;Password=?"
    // PostgreSql
    //"Default": "Host=localhost;Port=5432;Database=platformus;Pooling=true;User ID=platformus;Password=?;"
  },
  "Extensions": {
    "Path": "/Extensions"
  }
}