/* Colors */
$color-global-dark: #323232;

$color-text-dark: $color-global-dark;

$color-hyperlink: #0096fa;
$color-hyperlink-hovered: #5abeff;

/* Fonts */
$font-family: 'PT Sans', sans-serif;
$font-size-normal: 15px;

$line-height-normal: 20px;