@import '_webapplication.variables.scss';

body {
  color: $color-text-dark;
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: $line-height-normal;
}

a {
  color: $color-hyperlink;
}

a:hover {
  color: $color-hyperlink-hovered;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}