@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model dynamic
@{ 
  this.ViewBag.Title = this.Model.Properties["Title"].Html;
  this.ViewBag.MetaKeywords = this.Model.Properties["MetaKeywords"].Html;
  this.ViewBag.MetaDescription = this.Model.Properties["MetaDescription"].Html;
}

<div class="image">
  <img src="@Html.Raw(this.Model.Properties["Image"].Html)" alt="" />
</div>
@Html.Raw(this.Model.Properties["Content"].Html)